body {
    background-color: #fcf5e6;
}

a {
    color: #739c5c;
}

.blog-header {
    display: flex;
    align-items: center;
}

// Just Comments powered by thing.
.jcGenCls46 {
    display: none;
}
